/*
Colours: 
        Normal      Darker      Lighter
Main    #1098ad     #0b7285     #e3fafc
Second  #fab005     #f08c00

Greys   #495057     #212529     #868e96
*/


* {
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    padding: 10px 25px;
    margin-bottom: 25px;
}

body {
    background: linear-gradient(
        to bottom right, #22b8cf, #053a43
    );
    background-image: url("img/layered-bg.svg");
    background-size: cover;
}

aside {
    background-color: #f5f5f5;
    border-top: 5px solid #ffae00;
    border-bottom: 5px solid #ffae00;
    padding: 10px 0;
}

h1 {
    font-family: 'Pangolin', cursive;
    letter-spacing: -0.2rem;
    font-size: 7rem;
    font-weight: 100;
    background: -webkit-linear-gradient(-45deg, 
        #faf8f8, #fab008);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* h2 {
    color: #1d1d1d;
}

h3 {
    color: #808080;
}

h4 {
    color: #808080;
}
*/
p {
    color: #99e9f2;
    font-size: large;
}

a:link, a:visited {
    font-size: medium;
    color: #fab008;
    text-decoration: none;   
    text-shadow: 0.1rem 0.05rem 0.2rem #495057;
}

a:hover {
    color: #f08c05;
}

.container {
    width: 35rem;
    min-height: 20rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.copyright {
    color: #f9f9f9;
    font-size: small;
}

.portrait {
    width: 20%;
    height: auto;
}

/* The main navigation menu */
.top-menu {
    /* display: block;   */
    display: inline-block;
    width: 80px;
}



header {
    display: flex;
    align-items: center; 
    justify-content: space-between;
}

.main-title {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 5rem 0 4rem 0;
}

.cloudberry {
    width: 15rem;
    height: 15rem;
}