/* General Font */
* {
    font-family: 'Dongle', sans-serif;
    margin: 0;
    padding: 0;
}
/* h1, h2, h3, h4, p, a {
    font-family: Arial, Helvetica, sans-serif;
} */

/* Background colours */
header {
    /* background-color: #f5f5f5; */
    padding: 10px 25px;
    margin-bottom: 25px;
}

body {
    /* background-color: #003049; */

	background: linear-gradient(-45deg,  	
    #1d3557, #457b9d, #ffe8d6);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;

    /* background: url(img/layered-bg.svg); */
    /* background-size: cover; */
}

aside {
    background-color: #f5f5f5;
    border-top: 5px solid #ffae00;
    border-bottom: 5px solid #ffae00;
    padding: 10px 0;
}

h1 {
    font-family: 'Pangolin', cursive;
    letter-spacing: -0.2rem;
    font-size: 9rem;
    font-weight: 100;
    /* color: #ECC046;  */
    background: -webkit-linear-gradient(-45deg, 
        #faf8f8, #ECC046);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

h2 {
    color: #1d1d1d;
}

h3 {
    color: #808080;
}

h4 {
    color: #808080;
}

p {
    color: gray;
    margin-bottom: 15px;
}

a {
}

a:link, a:visited {
    font-size: 2rem;
    color: #ffae00;
    text-decoration: none;   
    text-shadow: 0.1rem 0.05rem 0.2rem #1d3557;
}

a:hover {
    color: #f3ce7e;
    /* font-weight: bold; */
}

.container {
    width: 800px;
    margin: 0 auto;
}

.copyright {
    color: #f9f9f9;
    font-size: small;
}

.portrait {
    width: 20%;
    height: auto;
}

/* The main navigation menu */
.top-menu {
    /* display: block;   */
    display: inline-block;
    width: 80px;
}

/* Flex settings*/
/* Apply flex to the header */
header {
    display: flex;
    align-items: center; 
    justify-content: space-between;
}

.main-title {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.cloudberry {
    width: 20rem;
    height: 20rem;
}

/* Animation */
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
