* {
    font-family: 'Zen Kaku Gothic Antique', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background-color: #f8f9fa;
    /* background-image: linear-gradient(
        to bottom right,
        #5c940d,
        #3bc9db 
    );
    background-attachment: fixed;
    background-color:#5c940d; */
}

h1 {
    font-size: 3rem;
    font-weight: 300;
    background: -webkit-linear-gradient(-45deg, 
        #3bc9db, #5c940d);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 2rem;
}
h2 {}
h3 {}
h4 {
    color: #2b8a3e;
    text-align: center;
    font-weight: 300;
    font-size: 1.2rem;
    padding: 0;
}

p {
    color: #495057; 
    text-align: justify;
}

br {
    display: block;
    margin-bottom: 0.5rem;
}

a {
    color: #5c940d;
    text-decoration: none;
}

a:hover {
    color: #3bc9db;
}

article {
    width: 50rem;
    margin: auto;
    margin-top: 0;
    margin-bottom: 0;
    background-color: #f8f9fa;
    display: flex;
    flex-direction: column;
    border-radius: 0.25rem;
    padding: 2rem;
    align-items: center;
}

article.wrapper {
    background-color: #3bc9db;
    background-image: radial-gradient(
        circle at bottom right,
        #5c940d,
        transparent
    );
    background-size: 100%;
    background-attachment: fixed;
    margin-top: 5rem;
    margin-bottom: 5rem;
    padding: 0.2rem;
    border-radius: 0.4rem;

    width: fit-content;
    height: fit-content;
}

section {
    width: 40rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 3rem;
}

section:last-child {
    margin-bottom: 0;
}

section.abstract {
    width: 30rem;
    padding: 2rem 8rem 2rem 8rem;
    margin: 3rem;
    border-bottom: 0.1rem dotted #5c940d;
    border-top: 0.1rem dotted #5c940d;
}

section.break {
    border-top: 0.1rem dotted #5c940d;
    padding-top: 2rem;
}

img {
    width: 10rem;
    align-items: center;
    justify-content: center;
}

img.left-side {
    padding-right: 4rem;
}

img.right-side {
    padding-left: 4rem;
}

img.full-size {
    width: 40rem;
    border-radius: 1rem;
    object-fit: cover;
    height: 13rem;
    object-position: 0 60%;
}

ul {
    width: 35rem;
    /* color: #faf8f8; */
}

ul.with-image {
    width: auto;
}

li {
    padding-bottom: 0.8rem;
    color: #495057; 
}

.copyright {
    /* color: #faf8f8; */
    font-size: 1rem;
    text-align: center;
    margin-bottom: 1rem;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background-image: linear-gradient(
        to left,
        #5c940d,
        #c5f6fa 
    );
}

.cloudberry {
    width: 3rem;   
    margin: 0.5rem;
}

nav {
    padding-top: 1rem;
    padding-right: 2rem;
    width: 15rem;
    display: flex;
    justify-content: space-between;
}

.top-menu { 
    color: #faf8f8;
}

.top-menu:hover {
    color: #99e9f2;
}