article {
    padding: 1.5rem;
    border-radius: .5rem;
    width: 50rem;
}

h2 {
    color: #fcc419;
}

button {
    justify-content: center;
    font-size: 1rem;
}

.section-break {
    background-image: none;
    grid-column: span 2;
}

