
* {
    font-family: 'Zen Kaku Gothic Antique', sans-serif;
    margin: 0;
    padding: 0;
}

:root {
    --default-button: #353535;
    --default-word: #463f3a;
    --default-hover: #8a817c;
    --der: #463f3a;
    --die: #463f3a;
    --das: #463f3a;
    --diepl: #463f3a;
    --der-hover: #8a817c;
    --die-hover: #8a817c;
    --das-hover: #8a817c;
    --diepl-hover: #8a817c;
}

body {
    background-color: #f08c00;
    /* background-image: linear-gradient(
        to bottom right,
        #5c940d,
        #3bc9db 
    );
    background-attachment: fixed;
    background-color:#5c940d; */
}

h1 {
    font-size: 3rem;
    font-weight: 300;
    background: -webkit-linear-gradient(-45deg, 
        #3bc9db, #5c940d);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 2rem;
    justify-content: center;
}

h2 {
    font-size: 3rem;
    font-weight: 100;
}

h3 {}
h4 {
    color: #2b8a3e;
    text-align: center;
    font-weight: 300;
    font-size: 1.2rem;
    padding: 0;
}

p {
    color: #495057; 
    text-align: justify;
}

br {
    display: block;
    margin-bottom: 0.5rem;
}

a {
    color: #5c940d;
    text-decoration: none;
}

article {
    width: 50rem;
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
    border-radius: 1rem;
    padding: 1rem;
    padding-bottom: 2rem;
    background-color: #faf8f8;
}

.button-area {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.button-ddd {
    width: 12rem;
    height: 4rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: none;
    font-size: 1.5rem;
    /* background-color: #353535; */
    background-color: var(--default-button);
}

/* .button-ddd:hover {
    background-color: #8a817c;
} */

.button-der { 
    color: #94d82d; 
    background-color: var(--der);
}
.button-der:hover { background-color: var(--der-hover); }

.button-die { 
    color: #ffd43b; 
    background-color: var(--die);
}
.button-die:hover { background-color: var(--die-hover); }

.button-das { 
    color: #ffa94d; 
    background-color: var(--das);
}
.button-das:hover { background-color: var(--das-hover); }

.button-diepl { 
    color: #ff6b6b; 
    background-color: var(--diepl);
}
.button-diepl:hover { background-color: var(--diepl-hover); }

.word-area {
    background-color: var(--default-word);
    width: 32rem;
    height: 12rem;
    margin: auto;
    margin-top: 1rem;
    margin-bottom: 3rem;
    border-radius: 2rem;
    color: #fff9db;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.word-area:hover {
    background-color: #8a817c;
}

.copyright {
    color: #fff9db;
    font-size: 1rem;
    text-align: center;
    margin-bottom: 1rem;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background: #d9480f;
}

.instruction-area {
    display: flex;
    flex-direction: row;
}

.instruction {
    min-width: 45%;
    padding: 0.8rem;
}

.cloudberry {
    width: 3rem;   
    margin: 0.5rem;
}

nav {
    padding-top: 1rem;
    padding-right: 2rem;
    width: 15rem;
    display: flex;
    justify-content: space-between;
}

.top-menu { 
    color: #faf8f8;
}

.top-menu:hover {
    color: #fcc419;
}