body {
    border-bottom: none;
}

h1 {
    letter-spacing: -0.2rem;
    font-size: 7rem;
    font-weight: 100;
    background: -webkit-linear-gradient(-45deg, 
        #faf8f8, #fab008);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

h2 {
    color: #faf8f8;
}

.main-title {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 4rem 0 3rem 0;
}

.main-title-text {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-right: 2rem;
}

.cloudberry {
    width: 15rem;
    height: 15rem;
}